<article class="stay-card" appHighlight>

  <img
    [src]="stay().image"
    [alt]="stay().title"
  />

  <div class="stay-content">

    <h2>{{ stay().title }}</h2>

    <p class="location">{{ stay().location }}</p>

    <p class="description">
      {{ stay().description | truncate:60 }}
    </p>

    <div class="stay-info">
      <strong>{{ stay().pricePerNight | currency:'EUR' }}</strong>
      <span> / night</span>
    </div>

    <app-badge>
      ⭐ {{ stay().rating }}
    </app-badge>

    @if (stay().superhost) {
      <app-badge>
        Superhost
      </app-badge>
    }

    <button (click)="onFavorite()">
      @if (isFavorite()) {
        ❤️ Unfavorite
      } @else {
        🤍 Favorite
      }
    </button>

  </div>

</article>